################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Wpm
/Wpm.Management.Api/bin
/Wpm.Management.Api/obj
/Wpm.Management.Domain/bin
/Wpm.Management.Domain/obj
/Wpm.Management.Domain.Tests/bin
/Wpm.Management.Domain.Tests/obj
/Wpm.Clinic.Api/obj
/Wpm.Clinic.Domain/obj
/Wpm.Clinic.Domain.Tests/obj
